#!/bin/bash

runuser -u root -- curl -O https://s3.us-west-2.amazonaws.com/amazon-eks/1.29.3/2024-04-19/bin/linux/amd64/kubectl
runuser -u root -- openssl sha1 -sha256 kubectl
runuser -u root -- chmod +x ./kubectl
runuser -u root -- mkdir -p ~/bin && cp ./kubectl ~/bin/kubectl && export PATH=~/bin:$PATH
runuser -u root -- aws eks update-kubeconfig --region ${eks_region_code} --name ${eks_cluster_name}